# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec.lock

# Android
android/.gradle/
android/.gradle
android/local.properties
android/app/debug
android/app/release

# iOS
ios/.symlinks/
ios/.generated.
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Editor
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Misc
*.class
*.log
*.rej
*.scssc
.sass-cache/
